<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryManagementSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
                    {
            <div class="text-right text-sm bg-blue-500 hover:text-zinc-100 text-white"><a class="container " asp-area="" asp-controller="Admin" asp-action="ViewBooks">Admin Panel</a></div>
                    }
        <nav class="bg-white py-4 border-b border-zinc-100">
            
            <div class="container flex justify-between">
                <a class="block text-lg font-semibold translate-x-2" asp-area="" asp-controller="Home" asp-action="Index">E-Book</a>
                <button
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div>
                    <ul class="flex gap-4">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                        </li>
                    </ul>
                </div>
                <div>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <ul class="flex gap-4">
                       
                        <li>
                            <a asp-controller="Books" asp-action="UserBooks">Your Books</a>
                        </li>
                        <li>
                            <a >@User.Identity.Name</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                    }
                    else
                    {
                       <ul class="flex gap-4">
                            <li>
                                <a  asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li >
                                <a  asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        </ul>
                    } 
                </div>
            </div>
        </nav>
    </header>
    <div class="container my-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Ebook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
