@{
    ViewData["Title"] = "Books";
   
}


<div>
    <div class="text-sm w-fit italic">@ViewBag.book.category</div>
        <h2 class="text-4xl font-semibold">@ViewBag.book.Title</h2>
        <div class="flex text-sm gap-2 text-zinc-500">
            <div class="text-blue-600 ">@ViewBag.book.Authro</div>
            <div>Language: @ViewBag.book.Language</div>
    </div>
   
    <hr class="my-4 bg-zinc-400">
    <embed src="~/assets/ebook.pdf" class="w-full h-[100vh]" type="application/pdf">
</div>
